@media (min-width: 324px) {
    .btn {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 30px 0 80px 0;
        background-color: rgba(243, 243, 243, 0.993);
        button {
            @include btn;
            color: white;
            font-size: 1.5rem;
        }
    }
}