@media (min-width:324px) {
    .fonctionement {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: white;
        .titre {
            width: 100%;
            h2 {
                @include titre;
                padding-bottom: 1.8rem;
            }
        }
    }
    .asid {
        width: 100%;
    }
    .fonc {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        border: 1px solid transparent;
        box-shadow: 3px 3px 3px 3px rgb(233, 233, 233);
        border-radius: 1.5rem;
        background-color: $background-color;
        height: 4.5rem;
        width: 100%;
        &:hover {
            background-color: #F0F1FC;
            i {
                color: $primaire;
            }
        }
        p {
            @include p;
            font-weight: bold;
            font-size: 1rem;
            color: black;
        }
         :nth-of-type(3) {
            padding-left: 2em;
        }
    }
    .fonction-content {
        padding-bottom: 1.3rem;
    }
    .mobile {
        padding-left: 2.5em;
        i {
            font-size: 1.5rem;
            color: rgb(133, 133, 133);
        }
    }
    .burger {
        padding-left: 2.5em;
        i {
            font-size: 1.2rem;
            color: rgb(133, 133, 133);
        }
    }
    .degustation {
        padding-left: 2.5em;
        i {
            font-size: 1.2rem;
            color: rgb(133, 133, 133);
        }
    }
    .number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -18px;
        background-color: $primaire;
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        p {
            color: white;
            font-weight: normal;
            font-size: 1rem;
        }
    }
}

@media (max-width:667px) {
    .fonction-content {
        width: 100%;
    }
}

@media (min-width: 667px) {
    .fonction-content {
        width: 45%;
    }
}

@media (min-width:1024px) {
    .fonction-content {
        width: 30%;
    }
}