@media (max-width: 667px) {
    .logo {
        display: flex;
        justify-content: center;
        padding-top: 2.2rem;
        padding-bottom: 1rem;
        box-shadow: 0 0 4px 0 black;
        img {
            width: 16rem;
            box-shadow: 4px black;
        }
    }
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(218, 218, 218);
        width: auto;
        height: 5rem;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 525px;
        }
        span .fas {
            padding-left: 7rem;
            font-size: 1.6rem;
        }
        h2 {
            padding-right: 10rem;
            font-weight: bold;
            font-size: 1.6em;
            font-family: $font-family;
            @include p;
        }
    }
    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 3rem 2rem .5rem;
        background-color: $background-color;
        width: auto;
        h2 {
            width: 400px;
            @include h2;
        }
    }
    .info {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem 2rem;
        background-color: $background-color;
        p {
            @include p;
            width: 550px;
        }
    }
}