/*###############################
    //////////COMMUN/////////////////
    ################################*/

.header {
    height: auto;
    width: auto;
}

main {
    height: auto;
    width: auto;
    background-color: $background-color;
}

footer {
    height: auto;
    width: auto;
}


/*###############################
    //////////HEADER/////////////////
    ################################*/

.bg_header {
    position: relative;
    padding: 1rem 2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: 1rem;
        font-weight: bold;
        color: black;
        position: absolute;
        top: 1.6rem;
        left: 2rem
    }
    h1 {
        @include h1;
        font-size: 1.5rem;
        text-align: center;
    }
}

.bg_slider {
    width: auto;
    height: 23rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/*###############################
    //////////MAIN/////////////////
    ################################*/

.menu_container {
    height: auto;
    padding: 2rem;
    position: relative;
    margin-top: -5.3rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

.btn_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    i {
        padding-top: 0.8rem;
        font-size: 1.5rem;
        &:hover {
            @include btn-heart;
            font-size: 1.7rem;
        }
    }
    h2 {
        padding-top: 0.8rem;
        margin-left: -2rem;
        @include h1;
        font-size: 1.5rem;
    }
}


/*#####ENTREES#####*/

.entrees_title,
.plats_title,
.desserts_title {
    padding-left: .3rem;
    padding-top: 2rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.2rem;
    font-weight: normal;
    font-size: 1rem;
    color: rgb(82, 82, 82);
    font-family: $font-family;
    font-weight: normal;
    &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: $tertiaire;
        position: absolute;
        left: .3rem;
        bottom: 0;
    }
}

.entrees_1,
.plats_1,
.desserts_1 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    margin: 1.5rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    animation: entrees .7s;
    animation-fill-mode: both;
    transform: scale(0);
    width: 100%;
    .entrees_bg_header,
    .plats_bg_header,
    .desserts_bg_header {
        width: 100%;
        padding: 15px;
    }
    .entrees_subtitle,
    .plats_subtitle,
    .desserts_subtitle {
        font-family: $font-family;
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 5px;
    }
    .entrees_txt,
    .plats_txt,
    .desserts_txt {
        font-family: $font-family;
        font-size: 0.8rem;
        color: rgb(82, 82, 82);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .entrees_price,
    .plats_price,
    .desserts_price {
        font-family: $font-family;
        font-size: .8rem;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 15px;
    }
    #icon {
        position: relative;
    }
    .entrees_icon,
    .plats_icon,
    .desserts_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -100px;
        height: 100%;
        background-color: #99e2d0;
        width: 100px;
        transition-duration: .5s;
    }
    &:hover {
        .entrees_icon,
        .plats_icon,
        .desserts_icon {
            right: 0;
        }
        .entrees_bg_header,
        .plats_bg_header,
        .desserts_bg_header {
            width: 60%;
        }
    }
    .entrees_bg_icon,
    .plats_bg_icon,
    .desserts_bg_icon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate( 180deg);
        transition-duration: .5s;
        .fas {
            color: $tertiaire;
        }
    }
    &:hover {
        .entrees_bg_icon,
        .plats_bg_icon,
        .desserts_bg_icon {
            transform: rotate( -5deg);
        }
    }
}


/*#####Button#####*/

.menu_container .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0 3rem 0;
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 3.5rem;
    }
}

//mobile
@media (min-width:667px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .btn_header {
        padding-bottom: 2rem;
        position: sticky;
    }
    .entrees,
    .plats,
    .desserts {
        width: 48%;
    }
}

@media (min-width:1024px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .entrees,
    .plats,
    .desserts {
        width: 32%;
    }
    .entrees_1,
    .plats_1,
    .desserts_1 {
        width: 100%;
    }
}


/*###############################
    //////////FOOTER/////////////////
    ################################*/