@mixin h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2.3rem;
    font-weight: bold;
}

@mixin h2 {
    font-family: $font-family;
    font-size: 2.3rem;
    font-weight: bold;
}

@mixin titre {
    font-family: $font-family;
    font-size: 2.2rem;
    font-weight: bold;
}

@mixin h3 {
    font-family: $font-family;
    font-size: 1.8rem;
    font-weight: bold;
}

@mixin menu-title {
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    font-weight: bold;
}

@mixin p {
    font-family: $font-family;
    font-size: 1.6rem;
}

@mixin btn {
    width: 21.1rem;
    height: 4.6rem;
    background: $background;
    border: 0.1rem solid rgb(194, 194, 194);
    border-radius: 3rem;
    box-shadow: 2px 2px 2px 2px rgb(221, 221, 221);
    @include p;
    a {
        text-decoration: none;
        color: white;
    }
}